<div class="absence">
  <div class="absence__header">
    <button mat-flat-button>Request Absence</button>
  </div>

  <p class="absence__heading">Absence types</p>

  <details class="absence__details">
    <summary class="absence__summary">
      <span class="absence__color absence__color--green"></span>Vacation
      <span class="absence__left">9 days left</span>
    </summary>
    <p class="absence__details--heading">Breakdown for 2022</p>
    <p class="absence__details--txt">
      Entitlement
      <span>10 days</span>
    </p>
    <p class="absence__details--txt">
      Taken
      <span>1 day</span>
    </p>
  </details>

  <details class="absence__details">
    <summary class="absence__summary">
      <span class="absence__color absence__color--red"></span>Sick
    </summary>
    <p class="absence__details--heading">Breakdown for 2022</p>
    <p class="absence__details--txt">
      Entitlement
      <span>10 days</span>
    </p>
    <p class="absence__details--txt">
      Taken
      <span>1 day</span>
    </p>
  </details>
</div>
